DB_NAME=pim_local
DB_USER=postgres
DB_PASSWORD=changeme
DB_HOST=localhost
DB_PORT=5432
PORT=8030
SERVICE_NAME=neve-jewels-visualization-api
KAFKA_ENABLED=true

MERCHANDISING=http://localhost:8020

MDM=http://localhost:8010

CAD=http://localhost:8040
